.footer#contact
    .container
        .footer-wrap
            .footer__nav
                .footer__nav-wrap
                    ul
                        li.footer__nav-link
                            a(href="#") HOME
                        li.footer__nav-link
                            a(href="#") ABOUT ME
                        li.footer__nav-link
                            a(href="#") POST
                        li.footer__nav-link
                            a(href="#") STYLES
                        li.footer__nav-link
                            a(href="#") CONTACT
                form(action="#" name='email').footer-search
                    input(for='email' type="email", name="email-input" placeholder="Your Email...")
                    button(for='email' type='submit' name="email-button") <i class="fa fa-envelope-o" aria-hidden="true"></i>
            .footer__text-info
                a(href="#") travel@gmail.com
                p +7 (123) 456 789
            .footer__copytext
                .footer__copytext-text © Copyrights 2020. Travelblog By Alex
                .footer__copytext-social
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>

