.header-wrapper#home
    nav.nav
        .nav__menu
            button
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        ul.nav__link
            li.nav__link-item
                a(href="#").link.link--active HOME
            li.nav__link-item
                a(href="#").link ABOUT ME
            li.nav__link-item
                a(href="#").link POST
            li.nav__link-item
                a(href="#").link STYLES
            li.nav__link-item
                a(href="#").link CONTACT
        .nav__search
            button
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    .burger-menu
        ul.burger__link
            li.burger__link-item
                a(href="#home" data-link).link-burger HOME
            li.burger__link-item
                a(href="#about" data-link).link-burger ABOUT ME
            li.burger__link-item
                a(href="#post" data-link).link-burger POST
            li.burger__link-item
                a(href="#style" data-link).link-burger STYLES
            li.burger__link-item
                a(href="#contact" data-link).link-burger CONTACT
    .header__logo
        h1.logo Travel Blog
        h2.logo__teg Blog Template
    .header__carousel
        .carousel__head.owl-carousel
            .owl-carousel-item
                img(src="./img/header-carousel/01.jpg", alt="")
                .carousel-text
                    h3.carousel-text__title Beyond The Land
                    h4.carousel-text__subtitle Lifestyle

            .owl-carousel-item
                img(src="./img/header-carousel/01.jpg", alt="")
                .carousel-text
                    h3.carousel-text__title Beyond The Land
                    h4.carousel-text__subtitle Lifestyle

            .owl-carousel-item
                img(src="./img/header-carousel/01.jpg", alt="")
                .carousel-text
                    h3.carousel-text__title Beyond The Land
                    h4.carousel-text__subtitle Lifestyle

