block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}

        meta(name="keywords" content= keywords)
        meta(name="description" content= description)

        <!-- build:css2 css/styles.css -->
        link(rel="stylesheet", href="./css/main.css")
        <!-- endbuild -->
        link(rel="stylesheet", href="./libs/css/owl.carousel.min.css")

        link(rel="stylesheet", href="./libs/css/owl.theme.default.min.css")

        link(rel="stylesheet", href="./libs/font-awesome/css/font-awesome.css")

        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,900&family=Roboto&display=swap" rel="stylesheet")

        link(rel="shortcut icon", href="./img/favicons/favicon.ico", type="image/x-icon")

    body(class=pageClass)

        block content

        <!-- build:js1 js/jquery.js -->
        <script src="./js/jquery-3.3.1.min.js"></script>
        <!-- endbuild -->

        script(src="./js/owl.carousel.min.js")

        <!-- build:js3 js/main.js -->
        <script src="./js/main.js"></script>
        <!-- endbuild -->

        //- font-family: 'Montserrat', sans-serif;
        //- font-family: 'Playfair Display', serif;
        //- font-family: 'Roboto', sans-serif;
        